
@inject NavigationManager NavigationManager

<Button Color="Color.Primary" Clicked="@Logout">Logout</Button>

@code {

    void Logout()
    {
        Helpers.SessionState.AdminLoggedIn = true;
        NavigationManager.NavigateTo("/admin/login");
    }
}
