@page "/account/menu"
@page "/account"
@inject NavigationManager NavigationManager

<table style="width:100%;height:100%">
    <tr>
        <td valign="middle" align="center">

            @if ((LoggedIn || FivePeaks.Client.Helpers.SessionState.UserLoggedIn) && UserAccount != null)
                {
            <div class="full-page-width" style="max-width: 600px; padding:60px 2% 50px 2%">
                <div style="text-align: center">
                    <h3>User Area</h3>
                    <h5>Hello, @UserAccount.Username!</h5>
                    <br />
                    <br />
                </div>
                @switch (SelectedMenuOption)
                        {
                            case MenuOption.Profile:
                <Profile User="UserAccount" BackToMenu="BackToMenu" />
                                break;

                            case MenuOption.SubmitData:
                <SubmitRoute User="UserAccount" BackToMenu="BackToMenu" OnItemSaved="GoToSubmissions" />
                                break;

                            case MenuOption.Submissions:
                <Submissions User="UserAccount" BackToMenu="BackToMenu" IsPublicView="false" />
                                break;

                            default:
            <div style="max-width: 400px">
                <div class="menu-button">
                    <Button Color="Color.Secondary" style="width:100%" @onclick="@(e => SetMenuOption(MenuOption.Profile))">Profile</Button>
                </div>
                <div class="menu-button">
                    <Button Color="Color.Secondary" style="width:100%" @onclick="@(e => SetMenuOption(MenuOption.SubmitData))">Submit Route Data</Button>
                </div>
                <div class="menu-button">
                    <Button Color="Color.Secondary" style="width:100%" @onclick="@(e => SetMenuOption(MenuOption.Submissions))">My Submissions</Button>
                </div>
            </div>
                                break;
                        }
            </div>
                }

            <LoginComponent ShowLogout="true" OnLogin="OnLoggedIn" OnLogout="OnLoggedOut" Hidden="SelectedMenuOption != MenuOption.None" />

        </td>
    </tr>
</table>


@code{

    private bool LoggedIn { get; set; }
    private MenuOption SelectedMenuOption { get; set; } = Menu.MenuOption.None;
    private FivePeaks.Shared.Models.UserAccount UserAccount { get; set; }

    private void SetMenuOption(MenuOption opt)
    {
        this.SelectedMenuOption = opt;
        this.StateHasChanged();
    }

    public void OnLoggedIn()
    {
        this.UserAccount = FivePeaks.Client.Helpers.SessionState.User;
        this.LoggedIn = true;
        this.StateHasChanged();
    }

    public void OnLoggedOut()
    {
        NavigationManager.NavigateTo("/");
        this.LoggedIn = false;
        this.StateHasChanged();
    }

    public void BackToMenu()
    {
        this.SelectedMenuOption = MenuOption.None;
        this.StateHasChanged();
    }

    void GoToSubmissions()
    {
        SetMenuOption(MenuOption.Submissions);
    }

    private enum MenuOption
    {
        None,
        Profile,
        SubmitData,
        Submissions
    }

}

