@page "/about"

<PageBase ImageNum="1">

    <div id="why-page-text-area" class="white-opaque-box info-area-min-width" style="max-width: 700px;margin-bottom:100px">

        <h1 class="page-title">Why the Five Peaks?</h1>

        <Divider></Divider>

        <div class="text-area-general about-text">
            <p>
                The Five Peaks Challenge was invented because everyone’s age old favourite Yorkshire Dales challenge, <a href="https://www.threepeakschallenge.uk/yorkshire-three-peaks-challenge/" target="_blank">The Three Peaks</a>, has become wildly overcrowded over the past few years. It simply does not have the same feel to it anymore as it once did.
            </p>
            <p>
                In reality, The Three Peaks is no longer a challenge for real wild thrill seekers, as the majority is sign posted, with very well-trodden or paved paths. It is certainly an endurance test; we will give it that. But nothing more.
            </p>
            <p>
                The Five Peaks has it all. Long, arduous Yorkshire Dales mountain hiking, total wilderness on untrodden paths, quaint villages with cosy pubs and even two viaducts! But, crucially, no masses of tourists... Just a select few real hikers with nobody for miles around.
            </p>
        </div>
        <div class="text-area-general about-text">
            <NavLink href="/privacy">Privacy Policy</NavLink>
        </div>

    </div>
</PageBase>


