
@using FivePeaks.Client.Shared

<div class="background-image" style="background-image: url('/images/backgrounds/@(ImageNum).jpg')">

    <div class="all-content">
        @ChildContent
    </div>

    <div class="bottom-corner-insta-btn">
        <a href="https://www.instagram.com/thefivepeaks/" target="_blank">
            <MenuIcon FileName="contact-instagram.png" />
            @@thefivepeaks
        </a>
    </div>

</div>

@code{

    [Parameter]
    public int ImageNum { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}