

@page "/route"

<PageBase ImageNum="6">
    <div id="why-page-text-area" class="white-opaque-box info-area-min-width" style="max-width: 800px;margin-bottom:100px">
        
        <h1 class="page-title">The Route</h1>

        <Divider></Divider>
        
        <div class="text-area-general">
            <p>
                <b style="text-decoration:underline">Start/End Point</b>
                <br />
                The Moorcock Inn,<br />
                Garsdale Head,<br />
                Sedbergh,<br />
                LA10 5PU
            </p>

            <p>
                <b style="text-decoration:underline">Parking</b>
                <br />
                There are three small lay bays on the junction surrounding The Moorcock Inn.<br />
                Please do NOT park in the pub car park without prior permission
            </p>

            <p>
                <b style="text-decoration: underline">Peaks / Hills on route, in this order</b>
                <br/>
            </p>

            <p style="background-color: grey; max-width: 276px; margin: auto;">

                <span style="color: blue">Tarn hill - 530m</span><br/>
                <span style="color: gold">Great Shunner Fell - 716m</span><br/>
                <span style="color: gold">Hugh Seat - 689m</span><br/>
                <span style="color: gold">Gregory Chapel - 695m</span><br/>
                <span style="color: gold">High Seat - 709m</span><br/>
                <span style="color: gold">Wild Boar Fell - 708m</span><br/>
                <span style="color: blue">Swarth Fell - 681m</span><br/>

            </p>
            
            <p>
                <br />
                <span style="background-color: yellow; color: red;font-weight:bold">It is strongly advised to purchase a map to avoid going off course</span>
                <br />
                <span style="background-color: yellow; color: red;font-weight:bold">The walk from Great shunner Fell to High Seat is particularly hard to navigate</span>
            </p>
            
            <div style="text-align:left">
                <ul>
                    <li>Starting from the Moorcock Inn, follow the path up and over Tarn Hill to Cotterdale.</li>                    
                    <li>From Cotterdale, zig zag part way up the next hill then along to the middle to meet the Pennine Way.</li>                   
                    <li>Follow the Pennine Way all the way to the first main summit, Great Shunner Fell.</li>
                    <li>Come back on yourself but take a slight right, following the now virtually non-existent path.</li>
                    <li>This path waves up and over the tops, avoiding a few streams, until you reach the next peak, Hugh Seat.</li>
                    <li>Carry on around the edges of the top to reach the next peak, Gregory Chapel</li>
                    <li>From Gregory Chapel continue on the same path until you reach the final peak on this side, High Seat.</li>
                    <li>From here, a scramble is required down the steep side of Mallerstang Edge.</li>
                    <li>From High Seat, loop around following the natural shale pavement as this will take you to the easiest shallowest part.</li>
                    <li>To avoid the scramble, loop further away to an even shallower walkable section. This will however add 1km to the route.</li>
                    <li>Walk through the open common into Outhgill.</li>
                    <li>Pass through the church at Outhgill then follow the path along the river and the fields by the train line</li>
                    <li>Pass under the train line and follow the well-trodden path to the summit of the final main peak, Wild Boar Fell</li>
                    <li>Keep going on the same path down off Wild Boar, then back up on to Swarth Fell.</li>
                    <li>Continue on the path on the brow of the hill (which becomes hard to track at points) all the way back to the valley.</li>
                    <li>The road now leads back to your starting / ending point, The Moorcock Inn.</li>
                </ul>
            </div>
        </div>

    </div>
</PageBase>

